@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$theme-color: 210;
$banner-color: hsl($theme-color, 50%, 40%);
$banner-color-light: hsl($theme-color, 50%, 60%);
$banner-text-color: white;
$card-footer-color: hsl($theme-color, 30%, 95%);
$btn-color: hsl($theme-color, 80%, 50%);
$loader-color-dark: hsl($theme-color, 50%, 30%);
$loader-color-light: hsl($theme-color, 50%, 70%);

/* General */
/* for sticky footer */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Typography */
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5em;
  color: $banner-color;
}

#timestamp {
  font-size: 0.9em;
}

/* Header */
header {
  padding: .5rem 0;
  background-color: $banner-color;
  color: $banner-text-color;
}

h1 {
  margin-bottom: 0;
}

/* Footer */
footer {
  border-top: 2px solid $banner-color-light;
  background-color: $banner-color;
  color: $banner-text-color;
  padding: 1rem 0;
}

/* Content */
.background {
  background-image: url("clouds-1473311_1920.jpg");
  background-size: cover;
}

.container {
  max-width: 33em;
}

main .container {
  background-color: hsla(210, 30%, 50%, .6);
}

.top-gutter {
  padding-top: 1.5rem;  
}


.gutter {
  margin-bottom: 1.5rem;  
}

.mylocation {
  margin: 1em auto;
}

.error {
  color: red;
}

#noscript {
  margin: 3em 0;
  color: red;
}

.btn-app {
  @include button-variant($btn-color, $btn-color);
}

/* Card Footer */
.btn-group > label {
  margin-bottom: 0;
}

.card-footer {
  background-color: hsla($theme-color, 30%, 30%, 0.03);
  border-top: 1px solid hsla($theme-color, 30%, 30%, 0.125);
}

.card-footer-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-right: -1.25rem; /* for gutters */
  margin-bottom: -0.75rem;
}

.card-footer-item {
  padding-right: 1.25rem; /* for gutters */
  padding-bottom: 0.75rem;
}

span.avoidbreak {
  display: inline-block;
}

/* Loader Animation */
.loader {
  border: 0.25em solid $loader-color-dark;
  border-left: 0.25em solid $loader-color-light;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg); 
  }
  100% { 
    transform: rotate(360deg); 
  }
}

/* Media Queries */
@media screen and (min-width: 305px){
  h1 {
    font-size: 2.5rem;
  }
  .card-footer-container {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px){
  header {
    padding: .75rem 0;
  }
  
  main .container {
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 37rem;
  }

  .top-gutter {
    padding-top: 3rem;
  }
  
  .gutter {
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 992px){
  header {
    padding: 1rem 0;
  }

  main .container {
    padding-left: 7rem;
    padding-right: 7rem;
    max-width: 45rem;
  }

  .top-gutter {
    padding-top: 5rem;
  }
}